# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

/MiniCom/MiniCom/Class/View/group/com.sunshinePoplar.www.MiniCom 2014-07-03 00.23.30.913.xcappdata/AppData/Library/Caches/Snapshots/com.sunshinePoplar.www.MiniCom/Main-downscaled
/MiniCom/MiniCom/Class/View/group/com.sunshinePoplar.www.MiniCom 2014-07-03 00.23.30.913.xcappdata/AppData/Library/Caches/Snapshots/com.sunshinePoplar.www.MiniCom/Main-downscaled
/MiniCom/MiniCom/Class/View/group/com.sunshinePoplar.www.MiniCom 2014-07-03 00.23.30.913.xcappdata/AppData/Library/Caches/Snapshots/com.sunshinePoplar.www.MiniCom/Main-downscaled/UIApplicationAutomaticSnapshotDefault-Portrait@2x.png
com.sunshinePoplar.www.MiniCom
/MiniCom/MiniCom/Class/View/group/com.sunshinePoplar.www.MiniCom 2014-07-03 00.23.30.913.xcappdata/AppData/Library/Caches/Snapshots/com.sunshinePoplar.www.MiniCom
